*,
*::before,
*::after{ 

    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;

}

header{
     position : fixed;
     top: 0;
     z-index: 1400rem;
     background-color: black;
     backdrop-filter: blur(2rem);
}

.nav-list{ 
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}
.nav-link{
    font-size: 1.4rem ;
    color: white;
    padding: 0 1rem;
    
}
.nav-link:hover{
    opacity:  .7;
}
.nav-link-apple{
    width: 1.6rem;
    height: 4.4rem;
    /*background: ;*/
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    /*background: ;*/
}

.iphone-11-pro{
    height: 69.2rem;
    margin-top: 4.4rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
}

